.profile__avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

@media (max-width: 750px) {
    .profile__avatar {
        margin: 0 0 26px 0;
    }
}