.profile__edit-btn {
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(180%,60%);
}

.profile__edit-btn:hover {
    border: 1px solid rgba(255,255,255,0.6);
}

.profile__edit-btn:hover .profile__edit-icon {
    fill: rgba(255,255,255,0.6);
}

@media (max-width: 750px) {
    .profile__edit-btn {
        width: 18px;
        height: 18px;
        transform: translate(160%,40%);
    }
}